.btn {
    background-color: var(--color-primary);
    color: var(--color-btn-text);
    font-weight: bold;
    padding: .6rem 1rem;
    border: 1px solid var(--color-primary);
    border-radius: .6rem;

    &-full {
        width: 100%;
    }
}